flask==2.3.3
gunicorn
opencv-python==4.6.0.66
onnxruntime==1.19.2
requests
shapely
pyclipper
scikit-image
imgaug
lmdb
tqdm
numpy==1.24.3
pymupdf
pdf2image
ultralytics==8.3.40
paddlepaddle==2.5.1
paddleocr==2.7.0.3
torch==2.0.1
torchvision==0.15.2
psutil==5.9.5